In [16]:
import plotnine
from plotnine import *
import pandas as pd

#read data into Python
myData=pd.read_table("Data/gapminder.txt")

#view first few lines of the dataset
print(myData.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [15]:
def SelectDataByCont(df,continents_list):
    """select data for continents given in the 'continents_list' from a dataframe 'df'"""    
    dataSubset=myData.loc[df['continent'].isin(continents_list),:]
    return dataSubset

In [18]:
myNewData=myData.loc[myData['continent']=='Africa' ,:]

In [22]:
contList=['Africa', 'Americas']
myNewData=myData.loc[myData['continent'].isin(contList),: ]

In [23]:
print(myNewData)

        country continent  year  lifeExp       pop     gdpPercap
24      Algeria    Africa  1952   43.077   9279525   2449.008185
25      Algeria    Africa  1957   45.685  10270856   3013.976023
26      Algeria    Africa  1962   48.303  11000948   2550.816880
27      Algeria    Africa  1967   51.407  12760499   3246.991771
28      Algeria    Africa  1972   54.518  14760787   4182.663766
29      Algeria    Africa  1977   58.014  17152804   4910.416756
30      Algeria    Africa  1982   61.368  20033753   5745.160213
31      Algeria    Africa  1987   65.799  23254956   5681.358539
32      Algeria    Africa  1992   67.744  26298373   5023.216647
33      Algeria    Africa  1997   69.152  29072015   4797.295051
34      Algeria    Africa  2002   70.994  31287142   5288.040382
35      Algeria    Africa  2007   72.301  33333216   6223.367465
36       Angola    Africa  1952   30.015   4232095   3520.610273
37       Angola    Africa  1957   31.999   4561361   3827.940465
38       Angola    Africa  1962   34.000   4826015   4269.276742
39       Angola    Africa  1967   35.985   5247469   5522.776375
40       Angola    Africa  1972   37.928   5894858   5473.288005
41       Angola    Africa  1977   39.483   6162675   3008.647355
42       Angola    Africa  1982   39.942   7016384   2756.953672
43       Angola    Africa  1987   39.906   7874230   2430.208311
44       Angola    Africa  1992   40.647   8735988   2627.845685
45       Angola    Africa  1997   40.963   9875024   2277.140884
46       Angola    Africa  2002   41.003  10866106   2773.287312
47       Angola    Africa  2007   42.731  12420476   4797.231267
48    Argentina  Americas  1952   62.485  17876956   5911.315053
49    Argentina  Americas  1957   64.399  19610538   6856.856212
50    Argentina  Americas  1962   65.142  21283783   7133.166023
51    Argentina  Americas  1967   65.634  22934225   8052.953021
52    Argentina  Americas  1972   67.065  24779799   9443.038526
53    Argentina  Americas  1977   68.481  26983828  10079.026740
...         ...       ...   ...      ...       ...           ...
1638  Venezuela  Americas  1982   68.557  15620766  11152.410110
1639  Venezuela  Americas  1987   70.190  17910182   9883.584648
1640  Venezuela  Americas  1992   71.150  20265563  10733.926310
1641  Venezuela  Americas  1997   72.146  22374398  10165.495180
1642  Venezuela  Americas  2002   72.766  24287670   8605.047831
1643  Venezuela  Americas  2007   73.747  26084662  11415.805690
1680     Zambia    Africa  1952   42.038   2672000   1147.388831
1681     Zambia    Africa  1957   44.077   3016000   1311.956766
1682     Zambia    Africa  1962   46.023   3421000   1452.725766
1683     Zambia    Africa  1967   47.768   3900000   1777.077318
1684     Zambia    Africa  1972   50.107   4506497   1773.498265
1685     Zambia    Africa  1977   51.386   5216550   1588.688299
1686     Zambia    Africa  1982   51.821   6100407   1408.678565
1687     Zambia    Africa  1987   50.821   7272406   1213.315116
1688     Zambia    Africa  1992   46.100   8381163   1210.884633
1689     Zambia    Africa  1997   40.238   9417789   1071.353818
1690     Zambia    Africa  2002   39.193  10595811   1071.613938
1691     Zambia    Africa  2007   42.384  11746035   1271.211593
1692   Zimbabwe    Africa  1952   48.451   3080907    406.884115
1693   Zimbabwe    Africa  1957   50.469   3646340    518.764268
1694   Zimbabwe    Africa  1962   52.358   4277736    527.272182
1695   Zimbabwe    Africa  1967   53.995   4995432    569.795071
1696   Zimbabwe    Africa  1972   55.635   5861135    799.362176
1697   Zimbabwe    Africa  1977   57.674   6642107    685.587682
1698   Zimbabwe    Africa  1982   60.363   7636524    788.855041
1699   Zimbabwe    Africa  1987   62.351   9216418    706.157306
1700   Zimbabwe    Africa  1992   60.377  10704340    693.420786
1701   Zimbabwe    Africa  1997   46.809  11404948    792.449960
1702   Zimbabwe    Africa  2002   39.989  11926563    672.038623
1703   Zimbabwe    Africa  2007   43.487  12311143    469.709298

[924 rows x 6 columns]

In [24]:
myNewData=myData.loc[(myData['continent']=='Africa') | (myData['continent']=='Americas'), :]

In [25]:
print(myNewData)

        country continent  year  lifeExp       pop     gdpPercap
24      Algeria    Africa  1952   43.077   9279525   2449.008185
25      Algeria    Africa  1957   45.685  10270856   3013.976023
26      Algeria    Africa  1962   48.303  11000948   2550.816880
27      Algeria    Africa  1967   51.407  12760499   3246.991771
28      Algeria    Africa  1972   54.518  14760787   4182.663766
29      Algeria    Africa  1977   58.014  17152804   4910.416756
30      Algeria    Africa  1982   61.368  20033753   5745.160213
31      Algeria    Africa  1987   65.799  23254956   5681.358539
32      Algeria    Africa  1992   67.744  26298373   5023.216647
33      Algeria    Africa  1997   69.152  29072015   4797.295051
34      Algeria    Africa  2002   70.994  31287142   5288.040382
35      Algeria    Africa  2007   72.301  33333216   6223.367465
36       Angola    Africa  1952   30.015   4232095   3520.610273
37       Angola    Africa  1957   31.999   4561361   3827.940465
38       Angola    Africa  1962   34.000   4826015   4269.276742
39       Angola    Africa  1967   35.985   5247469   5522.776375
40       Angola    Africa  1972   37.928   5894858   5473.288005
41       Angola    Africa  1977   39.483   6162675   3008.647355
42       Angola    Africa  1982   39.942   7016384   2756.953672
43       Angola    Africa  1987   39.906   7874230   2430.208311
44       Angola    Africa  1992   40.647   8735988   2627.845685
45       Angola    Africa  1997   40.963   9875024   2277.140884
46       Angola    Africa  2002   41.003  10866106   2773.287312
47       Angola    Africa  2007   42.731  12420476   4797.231267
48    Argentina  Americas  1952   62.485  17876956   5911.315053
49    Argentina  Americas  1957   64.399  19610538   6856.856212
50    Argentina  Americas  1962   65.142  21283783   7133.166023
51    Argentina  Americas  1967   65.634  22934225   8052.953021
52    Argentina  Americas  1972   67.065  24779799   9443.038526
53    Argentina  Americas  1977   68.481  26983828  10079.026740
...         ...       ...   ...      ...       ...           ...
1638  Venezuela  Americas  1982   68.557  15620766  11152.410110
1639  Venezuela  Americas  1987   70.190  17910182   9883.584648
1640  Venezuela  Americas  1992   71.150  20265563  10733.926310
1641  Venezuela  Americas  1997   72.146  22374398  10165.495180
1642  Venezuela  Americas  2002   72.766  24287670   8605.047831
1643  Venezuela  Americas  2007   73.747  26084662  11415.805690
1680     Zambia    Africa  1952   42.038   2672000   1147.388831
1681     Zambia    Africa  1957   44.077   3016000   1311.956766
1682     Zambia    Africa  1962   46.023   3421000   1452.725766
1683     Zambia    Africa  1967   47.768   3900000   1777.077318
1684     Zambia    Africa  1972   50.107   4506497   1773.498265
1685     Zambia    Africa  1977   51.386   5216550   1588.688299
1686     Zambia    Africa  1982   51.821   6100407   1408.678565
1687     Zambia    Africa  1987   50.821   7272406   1213.315116
1688     Zambia    Africa  1992   46.100   8381163   1210.884633
1689     Zambia    Africa  1997   40.238   9417789   1071.353818
1690     Zambia    Africa  2002   39.193  10595811   1071.613938
1691     Zambia    Africa  2007   42.384  11746035   1271.211593
1692   Zimbabwe    Africa  1952   48.451   3080907    406.884115
1693   Zimbabwe    Africa  1957   50.469   3646340    518.764268
1694   Zimbabwe    Africa  1962   52.358   4277736    527.272182
1695   Zimbabwe    Africa  1967   53.995   4995432    569.795071
1696   Zimbabwe    Africa  1972   55.635   5861135    799.362176
1697   Zimbabwe    Africa  1977   57.674   6642107    685.587682
1698   Zimbabwe    Africa  1982   60.363   7636524    788.855041
1699   Zimbabwe    Africa  1987   62.351   9216418    706.157306
1700   Zimbabwe    Africa  1992   60.377  10704340    693.420786
1701   Zimbabwe    Africa  1997   46.809  11404948    792.449960
1702   Zimbabwe    Africa  2002   39.989  11926563    672.038623
1703   Zimbabwe    Africa  2007   43.487  12311143    469.709298

[924 rows x 6 columns]