In [1]:
print('HI')

HI

In [2]:
def degree_faren():
    # f = (c*9/5) + 32
    f = (22*9/5) + 32
    print(f)

In [3]:
degree_faren()

71.6

In [4]:
def degree_faren(c):
    f = (c*9/5) + 32
    print(f)

In [5]:
degree_faren(5)

41.0

In [6]:
degree_faren(5505)

9941.0

In [7]:
def degree_faren(c):
    f = (c*9/5) + 32
    return f

In [9]:
faren = degree_faren(30)

In [10]:
faren

86.0

In [13]:
a = 4
b = 12

sum = a + b
print(sum)

16

In [14]:
def sum():
    a = 4
    b = 12
    sum = a + b
    print(sum)

In [16]:
sum()

16

In [25]:
import pandas as pd
import matplotlib.pyplot as plt

# reading file

my_file = pd.read_table("gapminder.txt")

# subsetting info

Canada = my_file.loc[my_file['country'] =="Canada", :]

# plotting

Canada.plot.line(x='year',y='lifeExp', label = "Life Expectancy", figsize=(8,6))
plt.suptitle("Life Expectancy in Canada over the years", fontsize = 20)
plt.xlabel("Year", fontsize = 16)
plt.ylabel("Life Expectancy", fontsize = 16)
plt.savefig("PlotLifeExp.png")

In [43]:
def get_country(country_name):
    country = my_file.loc[my_file['country']==country_name, :]
    return country

In [44]:
get_country('Japan')

    country continent  year  lifeExp        pop     gdpPercap
792   Japan      Asia  1952   63.030   86459025   3216.956347
793   Japan      Asia  1957   65.500   91563009   4317.694365
794   Japan      Asia  1962   68.730   95831757   6576.649461
795   Japan      Asia  1967   71.430  100825279   9847.788607
796   Japan      Asia  1972   73.420  107188273  14778.786360
797   Japan      Asia  1977   75.380  113872473  16610.377010
798   Japan      Asia  1982   77.110  118454974  19384.105710
799   Japan      Asia  1987   78.670  122091325  22375.941890
800   Japan      Asia  1992   79.360  124329269  26824.895110
801   Japan      Asia  1997   80.690  125956499  28816.584990
802   Japan      Asia  2002   82.000  127065841  28604.591900
803   Japan      Asia  2007   82.603  127467972  31656.068060

In [31]:
get_country('Angola')

   country continent  year  lifeExp       pop    gdpPercap
36  Angola    Africa  1952   30.015   4232095  3520.610273
37  Angola    Africa  1957   31.999   4561361  3827.940465
38  Angola    Africa  1962   34.000   4826015  4269.276742
39  Angola    Africa  1967   35.985   5247469  5522.776375
40  Angola    Africa  1972   37.928   5894858  5473.288005
41  Angola    Africa  1977   39.483   6162675  3008.647355
42  Angola    Africa  1982   39.942   7016384  2756.953672
43  Angola    Africa  1987   39.906   7874230  2430.208311
44  Angola    Africa  1992   40.647   8735988  2627.845685
45  Angola    Africa  1997   40.963   9875024  2277.140884
46  Angola    Africa  2002   41.003  10866106  2773.287312
47  Angola    Africa  2007   42.731  12420476  4797.231267